:root{
    --clr-body-bg:#ffde74;
    --clr-card-bg: hsl(0, 0%, 100%);
    --clr-text: hsl(0, 0%, 0%);
    --clr-heading:#fbf2d5;
    --clr-headingText: hsl(257, 47%, 97%);
    --clr-schedual: hsl(223, 14%, 30%);
}
.visually-hidden{
    clip: rect(0 0 0 0);
    clip-path: insert(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.color-picker > fieldset {
    border: 0;
    display: flex;
    gap: 5rem;
    width: fit-content;
    background: #fff;
    padding: 1rem 3rem;
    margin-inline: auto;
    border-radius: 0 0 1rem 1rem;
}

.color-picker input[type="radio"] {
    appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    outline: 3px solid var(--radio-color, currentColor);
    outline-offset: 3px;
    border-radius: 50%;
}

.color-picker input[type="radio"]:checked {
    background-color: var(--radio-color);
}

.color-picker input[type="radio"]#light {
  --radio-color:#ffde74;
}


.color-picker input[type="radio"]#dark {
  --radio-color:#2b4353;
}

:root:has(#light:checked){
  --clr-body-bg: #ffde74;
    --clr-card-bg: hsl(0, 0%, 100%);
    --clr-text: hsl(0, 0%, 0%);
    --clr-heading: #fbf2d5;
}

:root:has(#dark:checked){
  --clr-body-bg: #2b4353;
    --clr-card-bg: hsl(257, 14%, 38%);
    --clr-text: hsl(0, 0%, 100%);
    --clr-heading: #757a79;
}

[data-theme="light"] {
    --clr-body-bg: #ffde74;
    --clr-card-bg: hsl(0, 0%, 100%);
    --clr-text: hsl(0, 0%, 0%);
    --clr-heading: #fbf2d5;
}

/* CSS for dark theme */
[data-theme="dark"] {
    --clr-body-bg: #2b4353;
    --clr-card-bg: hsl(257, 14%, 38%);
    --clr-text: hsl(0, 0%, 100%);
    --clr-heading: #757a79;
}

body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: var(--clr-body-bg);
        }
        header {
            background-color: var(--clr-heading); 
            color:  #ffc93c;
        }


        .HEADER {
            display: flex;
            align-items: center;
        }
        .HEADER img {
            width: 100px;
            margin-left: 10px;
            margin-top: 10px;
        }
        .vertical-line {
          border-left: 1px solid #000000; /* Vertical line */
            height: 40px; 
            margin: 0 20px; 
        }
        nav {
         display: flex;
         align-items: center;
		 width: 30%; 
         margin: 0 auto; 
         display: flex;
         justify-content: space-between;
         align-items: center; 

        }
        nav a {
            color: #ffc93c;
            text-decoration: none;
            padding: 10px;
        }    

a {
    text-decoration: none;
    color: var(--clr-text);
}		
        .vision-photo {
            width: 100%;
            height: 200px;
            object-fit: cover;
        }  
        .restaurant-offers {
            text-align: center;
            padding: 20px;

        }
        .OffersANDReviews {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        .offer-info h3 {
            font-size: 18px;
            color:var(--clr-text);
        }
         .offer-info img {
            width: 100%;
            height: auto;
        }
        .OffersANDReviews p{
            font-size: 14px;
            color:var(--clr-text);
           text-align: left;
        }
        .restaurant-offers p{
            text-align: left; 
            color:var(--clr-text);

        }
		
		
		
		
        .offer-info {
            width: calc(33.33% - 20px);
            margin-bottom: 20px;
            border: 5px  #000;
            padding: 10px;
            box-sizing: border-box;
        }
        .customer-reviews {
            text-align: center;
        }
        .customer-review {
            margin: 20px;
            background-color:var(--clr-body-bg);
            color:var(--clr-text);
            border: 5px solid #000;
            padding: 10px;
            height:auto;
            box-sizing: border-box;
            width: calc(33% - 50px);
        }
        .customer-info {
            display: flex;
            flex-direction: row;
            align-items: center;
           justify-content: space-between ;
           color:var(--clr-text);
        }


        .customer-photo {
            width: 80px;
            height: 80px;
        }
        .stars {
            font-size: 24px;
            color: #f90;
        }

        .food-photo {
            width: 100%;
            height:auto;
        }
       footer {
    background-color: var(--clr-heading); 
    color: #000000;
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    bottom: 0;
    width: 100%;


      }

      footer img {
            width:50px;
            height:50px;
      }
      .left-section {
            text-align: left ;
      } 
      .left-section a{
            text-decoration: none;
            color:#000000;
      }

      .middle-section p{
            text-align: center;
      }
     .right-section  {
            margin-right:15px;
            margin-top:50px;
            text-align: right;
      }

















		
		.page {
           background-color:var(--clr-heading); 
           padding: 0px;
	   color:  #ffc93c;
           text-align: center;
		   
        }  
		
		
		
        
        .offer-list {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    gap: 25px;
  
}

.offer-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px; 
 background-color: var(--clr-heading);
  padding: 10px;
    border-radius: 10px;
	
}

.offer-list img {
  width: 250px; 
  margin-right: 10px; 
  border-radius:10px;
    

}

.offer-item label {
  display: flex;
  align-items: center;
  cursor: pointer;
  
  
 
}

.offer-item p {
  margin-right: 10px;
  font-size:20px;
}

.offer-list input[type="checkbox"] {
margin-right: 10px; 
	   

}
.buttun-offers {
      background-color: #ffde74;
            border-radius: 17px;
            padding: 11px 20px;
            cursor: pointer;
            font-size: 20px;
            margin: 0 auto; /* Center the button */
            display: block
      }


    .Offer-form {
        display:grid;
        grid-template-columns: auto auto auto;
		row-gap: 60px;
		
       }

     .newOffer {
    display: flex;
    align-items:Center;
      }

    


	.Offer-form label {
    margin-right: 10px;
    width: 120px;
	font-weight:bold;
	color: var(--clr-text);
      }
	  
	  
		input[type=text]:focus {
        border: 2px solid black;
        border-radius: 4px;
  
        }
		
		.INPUT{
		width: 30%;
        padding: 8px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        }
		






















.mainpicture{
 height: 60%;
 width: 100%;
}
      

        .restaurant-list {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fcf8f3;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .restaurant {
            border-bottom: 1px solid #ddd;
            padding: 10px 0;
        }

        .restaurant h2 {
            margin: 0;
            display: flex;
            align-items: center;
        }

        .restaurant h2 img {
            margin-left: 10px;
            width: 50px; /* Adjust the size of the icon */
            height: 50px; /* Adjust the size of the icon */
        }
		
		 

        .restaurant p {
            margin-top: 5px;
            color: #666;
        }
		
		 .Rating {
            color: gold;
            font-size: 20px;
            margin-left: 10px;
        }
		
		
    .star {
    display: inline-block;
               }























        .restlogo {
            border-bottom: 1px solid #ddd;
            padding: 10px 0;
        }

        .restlogo h1 {
            margin: 0;
            display: flex;
            align-items: center;
        }

        .restlogo h1 img {
            margin-left: 10px;
			width: 150px; /* Adjust the size of the icon */
            height: 150px; /* Adjust the size of the icon */
            
        }
		 
		 
		.flex-container {
                display: flex;
                background-color: #ffde74; 
				overflow-x:auto;
				
				}

		
        .meal{
          background-color: white;
          padding:0em 4em 0em 4em;
          margin: 10px;
         text-align: center;
         line-height: 25px;
         font-size: 20px;
        }
		.meal img {
		width: 350px;
		height:250px;
        margin: 10px;
		}
		
		.MakeDeleteOfPage{
		 display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Stack elements vertically */
    margin-top: 20px;
		height:80vh;
		}
		
		.MakeDeleteOfPage h2{
		border: 2px solid #fbc61c;
        border-radius: 20px;
        padding: 5px;
        width: 219px;
        transform: translateX(50px);
        background-color: #ffde74;
		text-align: center;
		
		
		}
		
		.MakeDeleteOfPage a {
		color: Black
		}
		
		.MakeDeleteOfPage img{
		width: 350px;
		height:250px;
		}






.addnewmeal{
		 display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Stack elements vertically */
    margin-top: 20px;
		height:80vh;
		}
		
		.addnewmeal h2{
		border: 2px solid #fbc61c;
        border-radius: 20px;
        padding: 5px;
        width: 219px;
        transform: translateX(50px);
        background-color: #ffde74;
		text-align: center;
		
		
		}
		
		.addnewmeal a {
		color: Black
		}
		
		.addnewmeal img{
		width: 350px;
		height:250px;
		}











				
		
	
	 .cuisine-form {
        display:grid;
        grid-template-columns: auto auto auto;
		row-gap: 60px;
       }

.breadcrumbs, .cart {
  display: inline-block;
}

.cart{
float: right;
  margin-top: 10px; 
  margin-right: 20px;
    font-weight: bold
}


     .FormC {
    display: flex;
    align-items:Center;
	
      }


    #theButton{
    display: block;
    margin: 20px auto;
	background-color: #ffde74;
    border-radius: 17px;
    padding: 11px 20px;
    cursor: pointer;
	font-size: 20px;

       }



























.container {
    max-width: 600px;
    margin: 0 auto;
}

.choose, #feedback{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.star-rating {
    display: flex;
    justify-content: center;
}

.radio-input {
    display: none;
}

.radio-label {
    cursor: pointer;
    font-size: 20px;
}


/*
input[type="submit"] {
    display: block;
    
    padding: 10px;
    background-color: #fff; 
    color: #000000; 
    border: 1px solid #000000; 
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
	width: 10em;
      height: 3em;
}
input[type="submit"]:hover {
    background-color: #ffffcc; 
}*/
/*
 .star-rating {
      display: flex;


    }

    .radio-input {
      position: fixed;
      opacity: 0;

    }

    .radio-label:before {
      content: "★";
      display: inline-block;
      font-size: 32px;
    }

    .radio-input:checked~.radio-label {
      color: #ffc700;
      color: gold;
    }

    .radio-label:hover,
    .radio-label:hover~.radio-label {
      color: goldenrod;
    }

    .radio-input:checked+.radio-label:hover,
    .radio-input:checked+.radio-label:hover~.radio-label,
    .radio-input:checked~.radio-label:hover,
    .radio-input:checked~.radio-label:hover~.radio-label,
    .radio-label:hover~.radio-input:checked~.radio-label {
      color: darkgoldenrod;
    }

    .rating {
      line-height: 3em;
    margin: 10px 0;
}

	   
*/

 .rate  {
color : black !important ;	
}


 .star-rating {
      display: flex;


    }

    .radio-input {
      position: fixed;
      opacity: 0;
      pointer-events: none;
    }

    .radio-label:before {
      content: "★";
      display: inline-block;
      font-size: 32px;
    }

    .radio-input:checked~.radio-label {
      color: #ffc700;
      color: gold;
    }

    .radio-label:hover,
    .radio-label:hover~.radio-label {
      color: goldenrod;
    }

    .radio-input:checked+.radio-label:hover,
    .radio-input:checked+.radio-label:hover~.radio-label,
    .radio-input:checked~.radio-label:hover,
    .radio-input:checked~.radio-label:hover~.radio-label,
    .radio-label:hover~.radio-input:checked~.radio-label {
      color: darkgoldenrod;
    }

    .rating {
     /* font-family: Playfair Display, Merriweather, serif; */
      line-height: 3em;
    }





























        .picture {
                height: 300px;
                width: 100%;
        }

       
        .cart-icon {
            font-size: 24px;
        }

        .categories {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
            width: 30%;
            margin: 0 auto;
           display: flex;
           justify-content: space-between;
           align-items: center;
        }
		
		
		
           .categories a {
	color : white ;
	font-size : 200% ;
}


            #active{
                   font-weight: bold;
	               color : #fbf2d5 ;

          }
        .categories button {
            margin: 0 10px;
            padding: 5px 10px;
        }

        .sorting {
            text-align: left;
            margin-bottom: 20px;
        }

       .items-grid {
            display: flex;
            flex-wrap: wrap;
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fcf8f3;
            border-radius: 8px;        }

       .item {
            border: 5px  #000;
            margin: 10px;
            width: calc(33.333% - 20px);
            text-align: center;
        }

        .image-placeholder {
            height: 100px;
            background-color: #ccc;
        }

        .meal-info {
            padding: 10px;
        }

        .meal-name {
            font-weight: bold;
        }

        .meal-description {
            color: #666;
        }

        .meal-calories {
            color: #666;
            margin: 10px 0;
        }

        .add-button {
            background-color: #f9f8f8;
            color: #2c1dd4;
            padding: 10px 20px;
            margin: 10px 0;
            width: 100%;
            border: none;
            text-decoration: none;
            display: inline-block;
            
        }

        .add-button a {
            text-decoration: underline;           
            color: inherit;

        }

























        .cart-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
            border-bottom: 1px solid #000;
            background-color: #fbf2d5;

        }

        .cart-title h2 {
            margin: 0;


        }

        .remove-all {
            padding: 5px 10px;
            background-color: #ede6e6;
            color: #fff;
            border: none;
        }

        .cart-items {
            padding: 20px;
            background-color: #ffde74;

        }

        .cart-item {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
        }

        .item-image-placeholder {
            width: 100px;
            /* Placeholder size, adjust as needed */
            height: 50px;
            background-color: #ccc;
            margin-right: 10px;
        }

        .item-details {
            flex-grow: 1;
        }

        .item-name {
            font-weight: bold;
        }

        .item-price {

      position: absolute;
    color: #666;
    top: 48%;
    right: 12%;
        }

        .item-price_2 {
              position: absolute;
    color: #666;
    right: 12%;
        }

        .item-price_3 {
               position: absolute;
    color: #666;
    right: 12%;
        }

        .item-price_4 {
            position: absolute;
            color: #666;
            right: 12%;
        }

        .item-quantity button {
            padding: 5px 10px;

        }

        .item-quantity input {
            text-align: center;
            width: 50px;
            margin: 0 5px;
        }

        .remove-item {
            padding: 5px 10px;
            background-color: #ede6e6;
            color: #fff;
            border: none;
        }

        .cart-summary {
            padding: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-top: 1px solid #000;

            background-color: #fbf2d5;

        }

        .sub-total span {
            font-size: 18px;
        }

        .checkout-button {
            padding: 10px 20px;
            background-color: #fbf2d5;
            color: #1745ea;
            border: none;
            font-size: 18px;
        }

	
		







